
# Use this file to store secrets like usernames and passwords.
# Learn more at https://home-assistant.io/docs/configuration/secrets/
http_password: password
ssl_certificate: /etc/letsencrypt/live/[dns_name]/fullchain.pem
ssl_key: /etc/letsencrypt/live/[dns_name]/privkey.pem

foscam_username: [username]
foscam_password: [passsword]

canary_username: [username]
canary_password: [password]


